.mainSection {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    padding: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.contentBox {
    background-color: bisque;
    padding-left: 10px;
    
}

.contentBox h1 {
    font-size: 2.5rem;
    color: black;
}

.contentBox p {
    font-size: 1.2rem;
    margin: 1em 0;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(205, 175, 137);
}

.btnBox {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
}

.btn {
    border: 2px solid black;
    border-radius: 2em;
    background-image: linear-gradient(#fff, #fff);
    background-origin: border-box;
    background-clip: border-box, border-box;
}

.readMore {
    display: inline-block;
    font-size: 1.2rem;
    padding: 5em, 2.2em;
    text-decoration: none;
    color: cadetblue;

}

.imgContainer {
    width: 50%;
    /* float: left; */
}

.imgContainer img {
    /* width: 50%;
    margin: 0 auto; */
}


/* media queries */
@media screen and (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .mainSection {
        flex-direction: column;
        margin-top: 1em;
        margin-top: 1em;
    }

    .contentBox {
        width: 90%;
        margin: 0 auto;
    }

    .contentBox h1 {
        font-size: 2rem;
    }

    .contentBox p {
        font-size: 1.1rem;
    }

    .imgContainer {
        width: 80%;
    }
}

@media screen and (max-width: 400px) {
    .imgContainer {
        width: 60%;
    }
}