footer {
    position: fixed;
    bottom: 0;
    background-color: #f3e2ed;
    width: 100%;
    padding: 20px;
    text-decoration: none;
}

.copyright {
    text-align: center;
}

.container-footer {
    flex-direction: column;
}