footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #f3e2ed;
    width: 100%;
    padding: 10px;
    text-decoration: none;

}

.copyright {
    text-align: center;
}

.container-footer {
    flex-direction: column;
}